# Environmental Variables can be stored here
# Be sure to uncomment any line you populate
# Everything is optional, but some features won't work without external API access

# Kill switch for the public/hosted instance
# VITE_DISABLE_EVERYTHING='false'

# API Keys for external services (backend)
GOOGLE_CLOUD_API_KEY=''
TORRENT_IP_API_KEY=''
SECURITY_TRAILS_API_KEY=''
URL_SCAN_API_KEY=''
TRANCO_USERNAME=''
TRANCO_API_KEY=''
CLOUDMERSIVE_API_KEY=''
SHODAN_API_KEY=''
WHO_API_KEY=''

# Configuration settings
# CHROME_PATH='/usr/bin/chromium' # The path the the Chromium executable
# PORT='3000'                     # Port to serve the API, when running server.js
# DISABLE_GUI='false'             # Disable the GUI, and only serve the API
# PUBLIC_API_TIMEOUT_LIMIT='25000'# Timeout for API requests, in milliseconds
# API_CORS_ORIGIN='*'             # Enable CORS, by setting your allowed hostname(s) here
# API_ENABLE_RATE_LIMIT='true'    # Enable rate limiting for the API
# REACT_APP_API_ENDPOINT='/api'   # The endpoint for the API (can be local or remote)
# ENABLE_ANALYTICS='false'        # Enable Plausible hit counter for the frontend
# BOSS_SERVER='false'             # Marketing homepage (only used by official instance)
# TRUST_PROXY='1'                 # Set if running behind a reverse proxy (Traefik, nginx, etc).
                                  # Use a number of hops (e.g. '1'), 'true', or a CIDR list.
