# ------------------------
#   ENVIRONMENT SETTINGS
# ------------------------
.env

# ------------------------
#       PRODUCTION
# ------------------------
/build/

# ------------------------
#         DEPLOYMENT
# ------------------------
.vercel/
.netlify/
.webpack/
.serverless/

# ------------------------
#         DEPENDENCIES
# ------------------------
node_modules/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnpm/
.pnp.*

# ------------------------
#            LOGS
# ------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# ------------------------
#          TESTING
# ------------------------
coverage/
.nyc_output/

# ------------------------
#       OS SPECIFIC
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
#         EDITORS
# ------------------------
.idea/
.vscode/
*.swp
*.swo

