---
import Main from '../../web-check-live/main.tsx';
import '../../web-check-live/styles/index.css';

export const prerender = false;

const { pathname } = new URL(Astro.request.url)

---

<html>
  <head>
    <title>Results</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <Main {pathname} client:visible />
  </body>
</html>
