---
import Main from '../../web-check-live/main.tsx';
import '../../web-check-live/styles/index.css';

export const prerender = false;

const { pathname, search } = new URL(Astro.request.url);

const searchUrl = new URLSearchParams(search).get('url');

if (searchUrl) {
  Astro.redirect(`/check/${encodeURIComponent(searchUrl)}`);
}

---

<html>
  <head>
    <title>Results</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <Main {pathname} client:load />
  </body>
</html>

<script>
  // Fallback, if Astro hasn't initialized the RC comp yet, use JS to redirect
  const searchParams = new URL(window.location.href).searchParams;
  if (searchParams.has('url')) {
    window.location.href = `/check/${searchParams.get('url')}`;
  }
</script>
  