---

const isBossServer = import.meta.env.BOSS_SERVER === 'true';

---

<html>
  <head>
    <title>Results</title>
    <meta charset="UTF-8">
		{!isBossServer && (
			<meta http-equiv="refresh" content="0; url=/check" />
			<script type="text/javascript">window.location.href = '/check';</script>
    )}
  </head>
  <body>
		<h1>hi</h1>
  </body>
</html>
